rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /faq_cache/{questionHash} {
      // Allow read/write for any authenticated user (our server will authenticate anonymously)
      allow read, write: if request.auth != null;
    }
  }
}
